<div class="modal-body centered info">
    <span class="text-1">¡OPS!</span>
    <span class="text-2">Se te han acabado las búsquedas</span>
    <p>Parece que has utilizado todas las búsquedas disponibles. Pero, ¡no te preocupes! Puedes obtener búsquedas ilimitadas con nuestro paquete mensual.</p>
    <span class="text-3">¡Gracias por tu compra!</span>
</div>
<div class="modal-footer centered">
    <button type="button" class="btn btn-custom btn-lg" ng-click="go('/precios')" data-dismiss="modal">Ver precios</button>
</div>