<div class="centered col-lg-12">
    <h1>PRECIOS</h1>

    <p>Recuerda, si deseas tener búsquedas ilimitadas, ¡solo debes adquirir nuestro paquete ilimitado! Una vez se haya realizado tu pago, recibirás un correo con un link, con el que podrás hacer tus búsquedas ilimitadas.</p>

	<div class="centered" id="price-frame">

    	<img src="images/pago.png" alt="Precios" title="Precios" class="img-responsive">
    	<span class="text-1">$10<sup class="text-2">USD</sup></span>
    	<span class="text-3">PAQUETE MENSUAL</span>
    	<span class="text-4">Búsquedas ilimitadas<br>durante un mes.</span>

    	<button type="button" class="btn btn-custom btn-lg" data-toggle="modal" data-target="#modal" ng-click="modal.url='views/precios-formulario.html'">¡Adquiérelo ahora!</button>

	</div>

	<div class="space"></div>

</div>
