<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <div class="modal-title"></div>
</div>
<div class="modal-body">
    <div id="price-form">
        <div class="centered">
            <img src="images/pago.png" alt="Precios" title="Precios" class="img-responsive">
            <span class="text-1">Pago seguro de</span>
            <span class="text-2">$10<sup class="text-3">USD</sup></span>
        </div>
        <p>Por favor llene el siguiente formulario para completar la transacción.</p>

        <form role="form" name="paymentForm" id="paymentForm" novalidate> 
            <div class="form-group" ng-class="{'has-success has-feedback': !paymentForm.name.$pristine && !paymentForm.name.$invalid, 'has-error has-feedback': !paymentForm.name.$pristine && paymentForm.name.$invalid}">

                <label for="name">Nombre</label>
                <input type="text" class="form-control input-sm" id="name" name="name" placeholder="Nombre y Apellido" ng-model="name" required>

                <!-- Icons -->
                <!-- Success -->
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!paymentForm.name.$pristine && !paymentForm.name.$invalid"></span>
                <!-- Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="!paymentForm.name.$pristine && paymentForm.name.$invalid"></span>
                
                <!-- Msj Error -->
                <div class="help-block" ng-show="!paymentForm.name.$pristine && paymentForm.name.$invalid">El campo nombre es requerido.</div>

            </div>

            <div class="form-group" ng-class="{'has-success has-feedback': !paymentForm.email.$pristine && !paymentForm.email.$invalid, 'has-error has-feedback': !paymentForm.email.$pristine && paymentForm.email.$invalid}">

                <label for="name">Correo Electrónico</label>
                <input type="email" class="form-control input-sm" id="email" name="email" placeholder="ejemplo@dominio.com" ng-model="email" required>
                
                <!-- Icons -->
                <!-- Success -->
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!paymentForm.email.$pristine && !paymentForm.email.$invalid"></span>
                <!-- Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="!paymentForm.email.$pristine && paymentForm.email.$invalid"></span>
                    
                <!-- Msj Error-->
                <div class="help-block" ng-show="!paymentForm.email.$pristine && paymentForm.email.$error.required">Correo electrónico requerido.</div>
                <div class="help-block" ng-show="!paymentForm.email.$pristine && paymentForm.email.$invalid && paymentForm.email.$error.email">Correo electrónico no cumple con el formato.</div>

            </div>
            <div class="form-group" ng-class="{'has-success has-feedback': !paymentForm.number.$pristine && !paymentForm.number.$invalid, 'has-error has-feedback': !paymentForm.number.$pristine && paymentForm.number.$invalid}">

                <label for="tdc">Tarjeta de Crédito</label>
                <input type="text" class="form-control input-sm" id="number" name="number" placeholder="Número de tarjeta" ng-model="card.number" maxlength="19" cc-number cc-format required>

                <!-- Icons -->
                <!-- Success -->
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="!paymentForm.number.$pristine && !paymentForm.number.$invalid"></span>
                <!-- Error -->
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-show="!paymentForm.number.$pristine && paymentForm.number.$invalid"></span>

                <!-- Msj Error-->
                <div class="help-block" ng-show="!paymentForm.number.$pristine && paymentForm.number.$error.required">Número de tarjeta de crédito requerido.</div>
                <div class="help-block" ng-show="!paymentForm.number.$pristine && paymentForm.number.$invalid && paymentForm.number.$error.ccNumber && !paymentForm.number.$error.required">Número de tarjeta de crédito inválido.</div>

            </div>
            <div class="form-group">
                <div class="row">
                    <div cc-exp>
                        <div class="col-xs-4" ng-class="{'has-success has-feedback': !paymentForm.exp_month.$pristine && !paymentForm.exp_month.$invalid, 'has-error has-feedback': !paymentForm.exp_month.$pristine && paymentForm.exp_month.$invalid}">

                            <input type="text" class="form-control input-sm" id="exp_month" name="exp_month" placeholder="Expira MM" ng-model="card.exp_month" ng-minlength="1" cc-exp-month required>

                            <!-- Icons -->
                            <!-- Success -->
                            <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.exp_month.$pristine && !paymentForm.exp_month.$invalid"></span>
                            <!-- Error -->
                            <span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.exp_month.$pristine && paymentForm.exp_month.$invalid"></span>

                            <!-- Msj Error-->
                            <div class="help-block" ng-show="!paymentForm.exp_month.$pristine && paymentForm.exp_month.$invalid && !paymentForm.exp_month.$error.ccExpMonth">Requerido.</div>
                            <div class="help-block" ng-show="!paymentForm.exp_month.$pristine && paymentForm.exp_month.$invalid && paymentForm.exp_month.$error.ccExpMonth">Mes inválido.</div>
                        </div>
                        <div class="col-xs-4" ng-class="{'has-success has-feedback': !paymentForm.exp_year.$pristine && !paymentForm.exp_year.$invalid, 'has-error has-feedback': !paymentForm.exp_year.$pristine && paymentForm.exp_year.$invalid}">

                            <input type="text" class="form-control input-sm" id="exp_year" name="exp_year"      placeholder="Expira AAAA" ng-model="card.exp_year" cc-exp-year full-year required>

                            <!-- Icons -->
                            <!-- Success -->
                            <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.exp_year.$pristine && !paymentForm.exp_year.$invalid"></span>
                            <!-- Error -->
                            <span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.exp_year.$pristine && paymentForm.exp_year.$invalid"></span>

                            <!-- Msj Error-->
                            <div class="help-block" ng-show="!paymentForm.exp_year.$pristine && paymentForm.exp_year.$invalid && !paymentForm.exp_year.$error.ccExpYear">Requerido.</div>
                            <div class="help-block" ng-show="!paymentForm.exp_year.$pristine && paymentForm.exp_year.$invalid && paymentForm.exp_year.$error.ccExpYear">Año inválido.</div>

                        </div>
                    </div>
                    <div class="col-xs-4" ng-class="{'has-success has-feedback': !paymentForm.cvc.$pristine && !paymentForm.cvc.$invalid, 'has-error has-feedback': !paymentForm.cvc.$pristine && paymentForm.cvc.$invalid}">
                        
                        <input type="password" class="form-control input-sm" id="cvc" name="cvc" placeholder="CVC" ng-model="card.cvc" cc-cvc required>

                        <!-- Icons -->
                        <!-- Success -->
                        <span class="glyphicon glyphicon-ok form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.cvc.$pristine && !paymentForm.cvc.$invalid"></span>
                        <!-- Error -->
                        <span class="glyphicon glyphicon-remove form-control-feedback form-control-feedback-fix" aria-hidden="true" ng-show="!paymentForm.cvc.$pristine && paymentForm.cvc.$invalid"></span>

                        <!-- Msj Error-->
                        <div class="help-block" ng-show="!paymentForm.cvc.$pristine && paymentForm.cvc.$invalid && paymentForm.cvc.$error.required">Requerido.</div>
                        <div class="help-block" ng-show="!paymentForm.cvc.$pristine && paymentForm.cvc.$invalid && paymentForm.cvc.$error.ccCvc && !paymentForm.cvc.$error.required">CVC inválido.</div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
 <div class="modal-footer centered">
     <button type="button" class="btn btn-custom btn-lg btn-large" ng-disabled="paymentForm.$invalid" ng-click="modalPaymentSuccess()">Pagar</button>
 </div>
