<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">&times;</button>
    <div class="modal-title"></div>
</div>
<div class="modal-body centered info">
    <span class="text-2">¡Pago exitoso!</span>
    <p>¡Tu pago ha sido exitoso! Ahora puedes acceder a<br>búsquedas ilimitadas por un mes; ya sea por medio del link que se te ha enviado a tu correo, o con este botón.</p>
    <span class="text-3">¡Gracias por tu compra!</span>
</div>
<div class="modal-footer centered">
    <button type="button" class="btn btn-custom btn-lg" ng-click="go('/')">Hacer búsqueda</button>
</div>