<div class="col-lg-12 centered">

    <h1>TÉRMINOS Y CONDICIONES</h1>

    <p>Al ingresar a la página y utilizar el servicio, usted está aceptando los términos y condiciones automáticamente. Si usted no está de acuerdo con las políticas de uso NO utilice el servicio.</p>

    <div class="space"></div>

    <h2>Uso de la información</h2>

    <div class="space"></div>

    <p>Cualessucorreo no tiene control y no asume responsabilidad alguna por el uso que se le de a la informacion que se encuentre en este sitio. Al utilizar nuestro servicio, acepta las políticas y nos libera de responsabilidad directa e indirecta, por cualquier mal uso, daño o perjuicio que esté conectado con la información que encuentre. </p>

    <div class="space"></div>

    <h2>Errores y Equivocaciones</h2>

    <div class="space"></div>

    <p>No podemos asegurar que la información que se encuentre en este sitio está completa o es exacta. Puede que no encuentre lo que esté buscando o que lo que encuentre no sea lo que busque. Sin embargo, estamos trabajando siempre por mejorar el servicio y asegurarnos de brindarle la mejor información posible. </p>

    <div class="space"></div>

    <h2>Compras</h2>

    <div class="space"></div>

    <p>Si usted desea adquirir el servicio y hacer uso del mismo de manera ilimitada, se le pedirá información personal para su compra, como número de tarjeta de crédito, fecha de expiración y dirección de facturación.</p>

    <p>En cuanto usted ingrese esta información acepta automáticamente que sus datos son correctos, que usted es el portador legal de la tarjeta de crédito y nos da el derecho de utilizar esta información con terceros para facilitar su pago.</p>

    <div class="space"></div>

    <h2>Baja de servicios</h2>

    <div class="space"></div>

    <p>Nos reservamos el derecho para dar de baja a los servicios en cualquier momento y bajo nuestra discreción, sin aviso previo. Igualmente, nos reservamos el derecho de uso, por lo que podríamos inhabilitar el servicio a aquellos que no cumplan con las políticas de uso.</p>

    <div class="space"></div>

    <h2>Disclaimer</h2>

    <div class="space"></div>

    <p>El uso de este servicio es cuenta y riesgo propio de la persona que lo utiliza. No damos ni expresamos ninguna garantía en el uso del servicio, el uso de la información o que la información sea de un uso específico. </p>

    <div class="space"></div>

    <h2>Cambios</h2>

    <div class="space"></div>

    <p>Nos reservamos el derecho de modificar o reemplazar los términos en cualquier momento. Si el usuario continúa utilizando el servicio luego de algún cambio en los términos y políticas de uso, se tomará como enterado y que está de acuerdo en las nuevas políticas de uso. Si usted no está de acuerdo NO utilice el servicio.</p>

</div>
